<?xml version="1.0"?>
<phpunit
        bootstrap="./bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        beStrictAboutCoversAnnotation="true"
>
    <testsuite name="begels Test-Suite">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="zend.assertions" value="1"/>
        <ini name="assert.exception" value="1"/>
        <env name="BEGELS_APP_KEY" value="" force="true" />
        <env name="BEGELS_SECRET_KEY" value="" force="true" />
        <env name="BEGELS_BASE_URI" value="http://api.begels.com" force="true" />
    </php>
</phpunit>